/* index.css */
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  direction: rtl;
}
/*  */
.all {
  display: inline-block !important;
}
.right {
  justify-content: right;
  display: grid;
}
body {
  background-color: #00b9e8;
  height: 100%;
  width: 100%;
}

/*  
.page-container {
  margin: 20px;
  border-radius: 4px;
}

.table {
  border: none;

  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: none;
  background-color: #fff;
}

.header,
.search-box,
.map,
.advance-search {
  padding: 10px;
  background-color: #f2f2f2;
}

.header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.search-box {
  text-align: right;
  font-size: 16px;
}

.map,
.advance-search {
  width: 50%;
}

tr:nth-child(even) {
  background-color: #e6e6e6;
}

.my-map {
  height: 100vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.leaflet-container {
  height: 80vh;
  width: 80%;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cluster-icon {
  background-color: #333;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px #fff;
} */

div:has(> .home-main-grid) {
  height: 100vh;
  width: 100vw;
  padding: auto;
  background-color: #00b9e8;
  display: flex;
}

.home-main-grid {
  width: 90%;
  height: 90%;
  margin: auto;
  padding: 1% 0.5%;
  background-color: white;
  border-radius: 20px;
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: space-between;
  color: black;
  overflow: auto;
}
.half-grid {
  width: 47.5%;
  height: 100%;
}
/* 
75


*/
